{% extends "html5_page_with_bootsrap_to_be_extended.html.twig" %}

{% block title %}Kundenkonto erstellen{% endblock %}

{% block stylesheets %}
label { display:none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

input[type="text"], input[type="password"] {
  background-color:#EEE;
  color:#AAA;
  border:1px #555 solid;
  border-radius:0px;
}
{% endblock %}


{% block javascripts %}

var SHOW_HIDE_CLASS = 'show_hide_class';

$( "form input:password" ).addClass(SHOW_HIDE_CLASS);

$( "form input:text, input:password" )
.each( function( index ) { 
  setValue( $(this) );
  $(this).focus( function() { setValue( $(this) ); return; } );
  $(this).focusout( function() { setValue( $(this) ); return; } );
});


function setValue( oInput ) {
  var sValue = oInput.val();
  var sLabel = oInput.prev().text();
  if ( sValue === '' ) {
    oInput.val( sLabel );
    if ( oInput.hasClass(SHOW_HIDE_CLASS) ) {
      oInput.get(0).type = 'text';
    }
  } else if ( sValue === sLabel ) {
    oInput.val( '' );
    if ( oInput.hasClass(SHOW_HIDE_CLASS) ) {
      oInput.get(0).type = 'password';
    }
  } else {
  }
  return;
}

{% endblock %}


{% block body %}
  <div class="container">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h2>Kundenkonto erstellen</h2>
        <h3>Ihre Rechnungsadresse</h3>
      </div>
      <div class="panel-body">

        {{ form_start(form) }}
          {{ form_row(form.firma) }}
          {{ form_row(form.ust_id) }}
          {{ form_row(form.herr) }}
          {{ form_row(form.vorname) }}
          {{ form_row(form.nachname) }}
          {{ form_row(form.adresse) }}
          {{ form_row(form.plz) }}
          {{ form_row(form.ort) }}
          {{ form_row(form.land) }}
          {{ form_row(form.telefon) }}
          {{ form_row(form.fax) }}
          {{ form_row(form.username) }}
          {{ form_row(form.password) }}
          <p class="pflichtfeld_erklaerung">* Pflichtfelder</p>
          <p class="datenschutz_hinweis">Mit der Registrierung erkläre ich mich mit den <a class="datenschutz_verweis" href="/datenschutz">Datenschutzbestimmungen</a> einverstanden</p>
          {{ form_row(form.submit) }}
        {{ form_end(form) }}

      </div>
    </div>
  </div>
{% endblock %}
